n8n flujo 4-5-6/workflow_flujo5.json
[
  {
    "updatedAt": "2026-05-12T02:42:13.815Z",
    "createdAt": "2026-05-08T11:23:17.501Z",
    "id": "flujo5-formulario-cliente",
    "name": "La Cabaña — Flujo 5: Servir Formulario de Selección",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "path": "seleccion",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-seleccion",
        "name": "Webhook — Abrir formulario",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "webhookId": "lacabana-seleccion-001"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1D2T7mC9xgLvfINQCUuHb_kWbsfFeVkr22OvWKqNkDCk",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Selecciones",
            "mode": "name"
          },
          "combineFilters": "=",
          "options": {}
        },
        "id": "sheets-leer",
        "name": "Sheets — Leer selecciones",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          464,
          304
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "google-sheets-cred",
            "name": "Google Sheets account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const token = String($('Webhook — Abrir formulario').first().json.query?.token || '').trim();\n\nlet clientData = null;\nconst rows = $('Sheets — Leer selecciones').all();\n\nfor (const row of rows) {\n  const rowToken = String(row.json.token || '').trim();\n  if (rowToken === token) {\n    clientData = row.json;\n    break;\n  }\n}\n\nconst status = String(clientData?.status || '').trim().toLowerCase();\nconst isValid = Boolean(token && clientData && status === 'pendiente');\n\nconst unavailableHtml = `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>La Cabana - Sesion no disponible</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:Arial,sans-serif;background:#f0f4f0;display:flex;align-items:center;justify-content:center;min-height:100vh}.box{background:#fff;max-width:440px;width:90%;border-radius:16px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,.12);text-align:center}.hdr{background:#2d5a27;padding:22px 20px}.hdr h1{color:#fff;font-size:20px}.hdr p{color:#a8d5a2;font-size:12px;margin-top:4px}.bod{padding:28px 24px}.ico{font-size:48px;margin-bottom:14px}h2{color:#333;margin-bottom:10px;font-size:18px}p{color:#666;font-size:14px;line-height:1.6}.wa{display:inline-block;background:#25D366;color:white;padding:12px 28px;border-radius:8px;text-decoration:none;font-weight:bold;margin-top:18px;font-size:15px}</style></head><body><div class=\"box\"><div class=\"hdr\"><h1>La Cabana Eventos</h1><p>San Pedro Huaquilpan, Hidalgo</p></div><div class=\"bod\"><div class=\"ico\">&#9201;</div><h2>Este link ya no esta disponible</h2><p>La sesion de seleccion ya fue utilizada o el enlace no es valido.<br><br>Si necesitas ayuda, contactanos.</p><a href=\"https://wa.me/527711341559?text=Hola,%20necesito%20ayuda%20con%20mi%20seleccion%20de%20menu\" class=\"wa\">Contactar a La Cabana</a></div></div></body></html>`;\n\nif (!isValid) {\n  return [{ json: { html: unavailableHtml, valid: false, token } }];\n}\n\nconst esc = (value) => String(value ?? '').replace(/[&<>\"']/g, (char) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#39;' }[char]));\nconst nombre = esc(clientData.nombre || 'Cliente');\nconst tipoEvento = esc(clientData.tipo_evento || 'Evento');\nconst fechaEvento = esc(clientData.fecha_evento || '');\nconst paquete = esc(clientData.paquete_asignado || 'Paquete contratado');\nconst tokenEsc = esc(token);\n\nconst html = `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"><title>Seleccion de Menu - La Cabana</title><style>*{box-sizing:border-box}body{margin:0;font-family:Arial,sans-serif;background:#eef4ef;color:#1f2a1f}.wrap{max-width:860px;margin:0 auto;padding:24px}.hdr{background:#2d5a27;color:white;padding:24px;border-radius:14px 14px 0 0;text-align:center}.hdr h1{font-size:24px;margin:0 0 6px}.panel{background:white;padding:24px;border-radius:0 0 14px 14px;box-shadow:0 4px 18px rgba(0,0,0,.12)}.event{display:grid;grid-template-columns:repeat(auto-fit,minmax(180px,1fr));gap:12px;margin-bottom:22px}.tile{background:#f4f8f4;border:1px solid #d8e7d8;border-radius:10px;padding:12px}.tile span{display:block;font-size:12px;color:#607060;margin-bottom:5px}.section{margin:22px 0;padding-top:6px}.option{display:block;border:2px solid #d8e7d8;border-radius:12px;padding:14px;margin:12px 0;cursor:pointer}.option:hover{border-color:#2d5a27}.option input{margin-right:8px}.option b{color:#2d5a27}.row{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:12px}label{font-weight:bold;display:block;margin:10px 0 6px}input[type=number],textarea{width:100%;border:1px solid #cfd8cf;border-radius:10px;padding:12px;font-size:15px}textarea{min-height:90px;resize:vertical}.check{display:block;background:#f8faf8;border:1px solid #d8e7d8;border-radius:10px;padding:12px;margin:8px 0}.btn{width:100%;border:0;background:#2d5a27;color:white;font-size:18px;font-weight:bold;padding:15px;border-radius:10px;margin-top:18px;cursor:pointer}.warn{font-size:13px;color:#795548;background:#fff8e1;border:1px solid #ffe0a3;padding:12px;border-radius:10px;margin-top:16px}</style></head><body><div class=\"wrap\"><div class=\"hdr\"><h1>La Cabana Eventos</h1><p>Seleccion de menu para tu evento especial</p></div><form class=\"panel\" method=\"POST\" action=\"https://n8n.lacabanaeventos.com/webhook/seleccion-guardar\"><input type=\"hidden\" name=\"token\" value=\"${tokenEsc}\"><div class=\"event\"><div class=\"tile\"><span>Cliente</span><strong>${nombre}</strong></div><div class=\"tile\"><span>Tipo de evento</span><strong>${tipoEvento}</strong></div><div class=\"tile\"><span>Fecha del evento</span><strong>${fechaEvento}</strong></div><div class=\"tile\"><span>Paquete contratado</span><strong>${paquete}</strong></div></div><div class=\"section\"><h2>Elige tu menu</h2><label class=\"option\"><input type=\"radio\" name=\"menu_elegido\" value=\"Clasico - Opcion 1\" required><b>Opcion 1</b><br>Crema de cilantro, pechuga rellena en salsa de agave y postres de la casa.</label><label class=\"option\"><input type=\"radio\" name=\"menu_elegido\" value=\"Clasico - Opcion 2\" required><b>Opcion 2</b><br>Ensalada Cesar, pierna de cerdo en salsa de chile guajillo y gelatinas artesanales.</label><label class=\"option\"><input type=\"radio\" name=\"menu_elegido\" value=\"Clasico - Opcion 3\" required><b>Opcion 3</b><br>Crema de elote, barbacoa en platon por mesa y bunuelos con cajeta.</label></div><div class=\"section\"><label for=\"num_invitados\">Numero de invitados confirmados *</label><input id=\"num_invitados\" name=\"num_invitados\" type=\"number\" min=\"1\" required></div><div class=\"section\"><h2>Servicios adicionales</h2><label class=\"check\"><input type=\"checkbox\" name=\"cocteleria\" value=\"Si\"> Cocteleria artesanal</label><label class=\"check\"><input type=\"checkbox\" name=\"cerveza_barril\" value=\"Si\"> Cerveza de barril</label></div><div class=\"row\"><div><label for=\"dietas_especiales\">Dietas especiales</label><textarea id=\"dietas_especiales\" name=\"dietas_especiales\" placeholder=\"Ej: vegetarianos, sin gluten, alergias...\"></textarea></div><div><label for=\"notas_cliente\">Notas para el chef</label><textarea id=\"notas_cliente\" name=\"notas_cliente\" placeholder=\"Peticiones especiales o detalles importantes...\"></textarea></div></div><button class=\"btn\" type=\"submit\">Confirmar mi seleccion</button><div class=\"warn\">Este link es de un solo uso. Revisa bien antes de enviar.</div></form></div></body></html>`;\n\nreturn [{ json: { html, valid: true, token } }];"
        },
        "id": "construir-html",
        "name": "Construir formulario HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "={{ $json.html }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "text/html; charset=utf-8"
                }
              ]
            }
          }
        },
        "id": "responder-html",
        "name": "Responder con HTML",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          912,
          304
        ]
      }
    ],
    "connections": {
      "Webhook — Abrir formulario": {
        "main": [
          [
            {
              "node": "Sheets — Leer selecciones",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sheets — Leer selecciones": {
        "main": [
          [
            {
              "node": "Construir formulario HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir formulario HTML": {
        "main": [
          [
            {
              "node": "Responder con HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {
      "Sheets — Leer selecciones": [
        {
          "json": {
            "row_number": 2,
            "valid": true,
            "token": "TEST-ANGEL-001",
            "nombre": "Angel Figueroa",
            "email": "figueroa.lera1@gmail.com",
            "telefono": "5619219350",
            "fecha_evento": "2026-07-15",
            "tipo_evento": "Boda",
            "paquete_asignado": "Herradura — Menú Clásico (3 tiempos)",
            "status": "completado",
            "menu_elegido": "Clásico — Opción 1",
            "num_invitados": "120",
            "cocteleria": "Sí",
            "cerveza_barril": "No",
            "dietas_especiales": "",
            "notas_cliente": "Prueba de sistema",
            "fecha_seleccion": "10/5/2026, 8:52:39 p.m.",
            "html_response": "<html><head><meta charset=UTF-8><meta name=viewport content=\"width=device-width,initial-scale=1\"><title>Selección confirmada</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:Arial,sans-serif;background:#f0f4f0;display:flex;align-items:center;justify-content:center;min-height:100vh}.box{background:white;max-width:480px;width:90%;border-radius:16px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,.12)}.hdr{background:#2d5a27;padding:22px;text-align:center}.hdr h1{color:white;font-size:20px}.hdr p{color:#a8d5a2;font-size:12px;margin-top:4px}.bod{padding:28px;text-align:center}.ico{font-size:50px;margin-bottom:14px}h2{color:#2d5a27;margin-bottom:10px}p{color:#555;font-size:14px;line-height:1.6;margin-bottom:10px}.res{background:#e8f5e9;border:2px solid #2d5a27;border-radius:10px;padding:16px;text-align:left;margin:16px 0;font-size:14px}.res p{margin:5px 0;color:#333}.wa{display:inline-block;background:#25D366;color:white;padding:12px 28px;border-radius:8px;text-decoration:none;font-weight:bold;margin-top:8px;font-size:15px}</style></head><body><div class=box><div class=hdr><h1>🌿 La Cabaña Eventos</h1><p>San Pedro Huaquilpan, Hidalgo</p></div><div class=bod><div class=ico>🎉</div><h2>¡Selección confirmada!</h2><p>Tu elección fue registrada. Te enviamos un correo de confirmación.</p><div class=res><p>🍽️ <b>Menú:</b> Clásico — Opción 1</p><p>👥 <b>Invitados:</b> 120</p><p>📅 <b>Fecha:</b> 2026-07-15</p></div><p>Nuestro equipo te contactará pronto para afinar los últimos detalles de tu evento.</p><a href=\"https://wa.me/527711341559?text=Hola%20acabo%20de%20confirmar%20mi%20seleccion%20de%20menu\" class=wa>💬 Hablar con La Cabaña</a></div></div></body></html>",
            "email_html": "<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><div style=\"background:#2d5a27;padding:22px;border-radius:8px 8px 0 0;text-align:center\"><h1 style=\"color:white;margin:0;font-size:22px\">🌿 La Cabaña Eventos</h1><p style=\"color:#a8d5a2;margin:5px 0 0;font-size:13px\">San Pedro Huaquilpan, Hidalgo</p></div><div style=\"background:#f9f9f9;padding:28px;border:1px solid #ddd\"><p style=\"font-size:17px;margin-bottom:16px\">Hola <strong>Angel Figueroa</strong>, tu seleccion fue recibida!</p><div style=\"background:white;border:2px solid #2d5a27;border-radius:10px;padding:18px;margin-bottom:16px\"><p style=\"margin:6px 0\">Evento: Boda</p><p style=\"margin:6px 0\">Fecha: 2026-07-15</p><p style=\"margin:6px 0\">Paquete: Herradura — Menú Clásico (3 tiempos)</p><p style=\"margin:6px 0\">Menu elegido: Clásico — Opción 1</p><p style=\"margin:6px 0\">Invitados: 120</p></div><p style=\"color:#555;font-size:14px\">Nuestro equipo revisara tu seleccion y te contactara para confirmar los detalles finales.</p><div style=\"text-align:center;margin:22px 0\"><a href=\"https://wa.me/527711341559\" style=\"background:#25D366;color:white;padding:13px 30px;border-radius:8px;text-decoration:none;font-size:15px;font-weight:bold\">Hablar con La Cabana</a></div></div><div style=\"background:#eee;padding:14px;text-align:center;font-size:12px;border-radius:0 0 8px 8px\"><p style=\"margin:0\">La Cabana Eventos - 771 134 1559 - lacabanaeventos.com</p></div></body></html>"
          }
        }
      ]
    },
    "versionId": "04b1f854-80a5-408e-8fed-3b1e20267206",
    "activeVersionId": "04b1f854-80a5-408e-8fed-3b1e20267206",
    "versionCounter": 88,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-08T11:23:17.505Z",
        "createdAt": "2026-05-08T11:23:17.505Z",
        "role": "workflow:owner",
        "workflowId": "flujo5-formulario-cliente",
        "projectId": "gb9Cs52RPG7BCVej",
        "project": {
          "updatedAt": "2026-05-09T03:38:40.683Z",
          "createdAt": "2026-05-07T05:49:04.929Z",
          "id": "gb9Cs52RPG7BCVej",
          "name": "Angel Figueroa <figueroa.lera1@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "6723b938-929e-4498-b609-9807ac77b465"
        }
      }
    ],
    "versionMetadata": {
      "name": "Correccion candado token pendiente",
      "description": "Publica validacion real: token existente y status pendiente. Bloquea tokens completados como TEST-ANGEL-001."
    }
  }
]