n8n-flows/flujo4-generar-link.json
{
  "id": "flujo4-generar-link",
  "name": "La Cabaña — Flujo 4: Generar Link de Selección",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lacabana-generar-link",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-generar-link",
      "name": "Webhook — Recibir datos admin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lacabana-generar-link-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst nombre = body.nombre || '';\nconst email = body.email || '';\nconst telefono = body.telefono || '';\nconst fecha_evento = body.fecha_evento || '';\nconst tipo_evento = body.tipo_evento || '';\nconst paquete_asignado = body.paquete_asignado || '';\n\n// Generar folio LC-DDMM-XXX\nconst now = new Date();\nconst dd = String(now.getDate()).padStart(2,'0');\nconst mm = String(now.getMonth() + 1).padStart(2,'0');\nconst chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\nlet suffix = '';\nfor (let i = 0; i < 3; i++) {\n  suffix += chars[Math.floor(Math.random() * chars.length)];\n}\nconst folio = 'LC-' + dd + mm + '-' + suffix;\n\n// Generar token UUID v4\nconst token = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n  const r = Math.random() * 16 | 0;\n  const v = c === 'x' ? r : (r & 0x3 | 0x8);\n  return v.toString(16);\n});\n\nconst link = 'https://lacabanaeventos.com/seleccion-menu.html?token=' + token;\nconst fecha_generacion = now.toLocaleString('es-MX', { timeZone: 'America/Mexico_City' });\n\nreturn [{ json: {\n  folio,\n  token,\n  link,\n  nombre,\n  email,\n  telefono,\n  fecha_evento,\n  tipo_evento,\n  paquete_asignado,\n  status: 'pendiente',\n  fecha_generacion,\n  menu_elegido: '',\n  num_invitados: '',\n  cocteleria: '',\n  cerveza_barril: '',\n  dietas_especiales: '',\n  notas_cliente: '',\n  fecha_seleccion: ''\n}}];"
      },
      "id": "generar-folio-token",
      "name": "Generar folio y token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1D2T7mC9xgLvfINQCUuHb_kWbsfFeVkr22OvWKqNkDCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Selecciones",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-guardar-token",
      "name": "Sheets — Guardar en hoja",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8676090287:AAFv7isGLDRiXaxU6o0gOOKeCd_exd7VaO0/sendMessage",
        "authentication": "none",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: '7790296286', text: '🔗 *NUEVO LINK GENERADO — La Cabaña*\\n\\n🎫 Folio: ' + $('Generar folio y token').first().json.folio + '\\n👤 Cliente: ' + $('Generar folio y token').first().json.nombre + '\\n📱 Tel: ' + $('Generar folio y token').first().json.telefono + '\\n🎊 Evento: ' + $('Generar folio y token').first().json.tipo_evento + '\\n📅 Fecha: ' + $('Generar folio y token').first().json.fecha_evento + '\\n📦 Paquete: ' + $('Generar folio y token').first().json.paquete_asignado + '\\n\\n🔗 Link del cliente:\\n' + $('Generar folio y token').first().json.link, parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "telegram-link",
      "name": "Telegram — Enviar link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 460],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ ok: true, folio: $('Generar folio y token').first().json.folio, token: $('Generar folio y token').first().json.token, link: $('Generar folio y token').first().json.link, nombre: $('Generar folio y token').first().json.nombre }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "values": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "responder-json",
      "name": "Responder — JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook — Recibir datos admin": {
      "main": [
        [
          { "node": "Generar folio y token", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generar folio y token": {
      "main": [
        [
          { "node": "Sheets — Guardar en hoja", "type": "main", "index": 0 },
          { "node": "Telegram — Enviar link", "type": "main", "index": 0 },
          { "node": "Responder — JSON", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
