n8n-flows/flujo5-formulario-cliente.json
{
  "name": "La Cabaña — Flujo 5: API Cliente (JSON)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "lacabana-cliente",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cliente",
      "name": "Webhook — Consulta cliente",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lacabana-cliente-001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1D2T7mC9xgLvfINQCUuHb_kWbsfFeVkr22OvWKqNkDCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Selecciones",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets-leer",
      "name": "Sheets — Leer selecciones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const token = ($('Webhook — Consulta cliente').first().json.query && $('Webhook — Consulta cliente').first().json.query.token)\n  ? $('Webhook — Consulta cliente').first().json.query.token\n  : '';\n\nif (!token) {\n  return [{ json: { ok: false, error: 'not_found' } }];\n}\n\nconst rows = $('Sheets — Leer selecciones').all();\nlet clientData = null;\nfor (const row of rows) {\n  if (row.json.token === token) {\n    clientData = row.json;\n    break;\n  }\n}\n\nif (!clientData || clientData.status !== 'pendiente') {\n  return [{ json: { ok: false, error: 'not_found' } }];\n}\n\nreturn [{ json: {\n  ok: true,\n  folio: clientData.folio || '',\n  nombre: clientData.nombre || '',\n  tipo_evento: clientData.tipo_evento || '',\n  fecha_evento: clientData.fecha_evento || '',\n  paquete_asignado: clientData.paquete_asignado || '',\n  status: clientData.status || 'pendiente'\n}}];"
      },
      "id": "buscar-token",
      "name": "Buscar token en Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "responder-json",
      "name": "Responder — JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook — Consulta cliente": {
      "main": [
        [
          { "node": "Sheets — Leer selecciones", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets — Leer selecciones": {
      "main": [
        [
          { "node": "Buscar token en Sheets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar token en Sheets": {
      "main": [
        [
          { "node": "Responder — JSON", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
