n8n-flows/flujo6-guardar-seleccion.json
{
  "name": "La Cabaña — Flujo 6: Guardar Selección de Menú",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seleccion-guardar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-guardar",
      "name": "Webhook — Recibir selección",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lacabana-seleccion-guardar-001"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1D2T7mC9xgLvfINQCUuHb_kWbsfFeVkr22OvWKqNkDCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Selecciones",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets-leer-validar",
      "name": "Sheets — Leer para validar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const body = $('Webhook — Recibir selección').first().json.body || $('Webhook — Recibir selección').first().json;\nconst token = body.token || '';\n\nlet clientData = null;\nif (token === 'TEST-ANGEL-001') {\n  clientData = { nombre: 'Angel Figueroa', email: 'figueroa.lera1@gmail.com', telefono: '5619219350', fecha_evento: '2026-07-15', tipo_evento: 'Boda', paquete_asignado: 'Herradura — Menú Clásico (3 tiempos)', status: 'pendiente' };\n} else {\n  const rows = $('Sheets — Leer para validar').all();\n  for (const row of rows) {\n    if (row.json.token === token) { clientData = row.json; break; }\n  }\n}\n\nconst isValid = clientData && clientData.status === 'pendiente';\nconst ahora = new Date();\n\nconst nombre = isValid ? clientData.nombre : '';\nconst email = isValid ? clientData.email : '';\nconst telefono = isValid ? clientData.telefono : '';\nconst fecha_evento = isValid ? clientData.fecha_evento : '';\nconst tipo_evento = isValid ? clientData.tipo_evento : '';\nconst paquete_asignado = isValid ? clientData.paquete_asignado : '';\nconst menu_elegido = body.opcion_menu || body.menu_elegido || '';\nconst num_invitados = body.num_invitados || '';\nconst cocteleria = body.cocteleria || 'No';\nconst cerveza_barril = body.cerveza_barril || 'No';\nconst dietas_especiales = body.dietas || body.dietas_especiales || '';\nconst notas_cliente = body.notas || body.notas_cliente || '';\nconst fecha_seleccion = ahora.toLocaleString('es-MX', { timeZone: 'America/Mexico_City' });\n\nconst email_html = '<html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px\"><div style=\"background:#6B1223;padding:22px;border-radius:8px 8px 0 0;text-align:center\"><h1 style=\"color:white;margin:0;font-size:22px\">La Cabaña Eventos</h1><p style=\"color:rgba(255,255,255,.7);margin:5px 0 0;font-size:13px\">San Pedro Huaquilpan, Hidalgo</p></div><div style=\"background:#f9f9f9;padding:28px;border:1px solid #ddd\"><p style=\"font-size:17px;margin-bottom:16px\">Hola <strong>' + nombre + '</strong>, tu selección fue recibida.</p><div style=\"background:white;border:2px solid #6B1223;border-radius:10px;padding:18px;margin-bottom:16px\"><p style=\"margin:6px 0\"><strong>Evento:</strong> ' + tipo_evento + '</p><p style=\"margin:6px 0\"><strong>Fecha:</strong> ' + fecha_evento + '</p><p style=\"margin:6px 0\"><strong>Paquete:</strong> ' + paquete_asignado + '</p><p style=\"margin:6px 0\"><strong>Menú elegido:</strong> ' + menu_elegido + '</p><p style=\"margin:6px 0\"><strong>Invitados:</strong> ' + num_invitados + '</p></div><p style=\"color:#555;font-size:14px\">Nuestro equipo revisará tu selección y te contactará para confirmar los detalles finales.</p><div style=\"text-align:center;margin:22px 0\"><a href=\"https://wa.me/527711341559\" style=\"background:#25D366;color:white;padding:13px 30px;border-radius:8px;text-decoration:none;font-size:15px;font-weight:bold\">Hablar con La Cabaña</a></div></div><div style=\"background:#eee;padding:14px;text-align:center;font-size:12px;border-radius:0 0 8px 8px\"><p style=\"margin:0\">La Cabaña Eventos - 771 134 1559 - lacabanaeventos.com</p></div></body></html>';\n\nreturn [{ json: {\n  valid: isValid,\n  token,\n  nombre,\n  email,\n  telefono,\n  fecha_evento,\n  tipo_evento,\n  paquete_asignado,\n  status: 'completado',\n  menu_elegido,\n  num_invitados,\n  cocteleria,\n  cerveza_barril,\n  dietas_especiales,\n  notas_cliente,\n  fecha_seleccion,\n  email_html\n}}];"
      },
      "id": "validar-y-extraer",
      "name": "Validar token y extraer datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valido",
      "name": "IF — ¿Token válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D2T7mC9xgLvfINQCUuHb_kWbsfFeVkr22OvWKqNkDCk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Selecciones",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "token"
          ]
        },
        "options": {}
      },
      "id": "sheets-actualizar",
      "name": "Sheets — Guardar selección",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 160],
      "continueOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "evento.social.lacabana@gmail.com",
        "toEmail": "={{ $('Validar token y extraer datos').first().json.email }}",
        "subject": "✅ Tu selección de menú fue confirmada — La Cabaña Eventos",
        "emailType": "html",
        "message": "={{ $('Validar token y extraer datos').first().json.email_html }}",
        "options": {}
      },
      "id": "email-confirmacion",
      "name": "Email — Confirmación al cliente",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300],
      "continueOnFail": true,
      "credentials": {
        "smtp": {
          "id": "GUuB0gffD5iBa139",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8676090287:AAFv7isGLDRiXaxU6o0gOOKeCd_exd7VaO0/sendMessage",
        "authentication": "none",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: '7790296286', text: '✅ *SELECCIÓN DE MENÚ CONFIRMADA — La Cabaña*\\n\\n👤 ' + $('Validar token y extraer datos').first().json.nombre + '\\n📱 ' + $('Validar token y extraer datos').first().json.telefono + '\\n🎊 ' + $('Validar token y extraer datos').first().json.tipo_evento + '\\n📅 ' + $('Validar token y extraer datos').first().json.fecha_evento + '\\n📦 ' + $('Validar token y extraer datos').first().json.paquete_asignado + '\\n🍽️ ' + $('Validar token y extraer datos').first().json.menu_elegido + '\\n👥 Invitados: ' + $('Validar token y extraer datos').first().json.num_invitados + '\\n🍹 Coctelería: ' + $('Validar token y extraer datos').first().json.cocteleria + '\\n🍺 Cerveza barril: ' + $('Validar token y extraer datos').first().json.cerveza_barril + '\\n🌱 Dietas: ' + ($('Validar token y extraer datos').first().json.dietas_especiales || 'Ninguna') + '\\n📝 Notas: ' + ($('Validar token y extraer datos').first().json.notas_cliente || 'Sin notas'), parse_mode: 'Markdown' }) }}",
        "options": {}
      },
      "id": "telegram-seleccion",
      "name": "Telegram — Alerta selección",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "responder-exito",
      "name": "Responder — Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, error: 'token_invalido' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "responder-error",
      "name": "Responder — Token inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 580]
    }
  ],
  "connections": {
    "Webhook — Recibir selección": {
      "main": [
        [
          { "node": "Sheets — Leer para validar", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheets — Leer para validar": {
      "main": [
        [
          { "node": "Validar token y extraer datos", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validar token y extraer datos": {
      "main": [
        [
          { "node": "IF — ¿Token válido?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF — ¿Token válido?": {
      "main": [
        [
          { "node": "Sheets — Guardar selección", "type": "main", "index": 0 },
          { "node": "Email — Confirmación al cliente", "type": "main", "index": 0 },
          { "node": "Telegram — Alerta selección", "type": "main", "index": 0 },
          { "node": "Responder — Éxito", "type": "main", "index": 0 }
        ],
        [
          { "node": "Responder — Token inválido", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
